header {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

body {
  background-image: var(--main-logo-img);
  background-size: 70%;
  background-repeat: no-repeat;
  font-family: "Mulish", sans-serif;
  font-size: 1.5em;
  display: flex;
  flex-direction: column;
  margin: 0;
}

h1 {
  font-family: "Great Vibes", cursive;
  color: var(--main-accent1-color);
  font-size: 2em;
  text-align: right;
  padding-right: 10%;
}

h4 {
  margin: 0;
  text-align: center;
  color: var(--main-text-color);
  padding: 5%;
  background-color: var(--main-background-color);
}

/*
.thankYou {
  align-self: center;
  height: 50%;
  position: absolute;
} */

.border {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin-top: 15%;
  /* padding: 5%; */
}

.border2 {
  margin-top: 5%;
}

.line2 {
  margin-top: -10px;
}

.line3 {
  margin-top: -10px;
}

a {
  color: #027479;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10%;
  list-style: none;
}

.sticky {
  position: sticky;
  top: 20px;
}

.theme-btn {
  width: 225px;
  height: 150px;
  border: 25px solid transparent;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 10px solid white;
  background-color: white;
}

.box {
  height: 15px;
  background-color: var(--main-accent1-color);
}

.box2 {
  height: 15px;
  background-color: var(--main-accent2-color);
}

.box3 {
  height: 15px;
  background-color: var(--main-accent3-color);
}

.box4 {
  height: 15px;
  background-color: var(--main-accent4-color);
}

#themeS-select {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

@media screen and (max-width: 1049px) {
  .border {
    flex-direction: column;
  }

  li {
    font-size: 2em;
  }
}

@media screen and (max-width: 650px) {
  .border {
    flex-direction: column;
  }

  li {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 400px) {
  .border {
    flex-direction: column;
  }

  li {
    font-size: 1em;
  }
}
