body {
  background-color: var(--main-text-color);
  color: var(--main-background-color);
  font-family: "Mulish", sans-serif;
  width: 100vw;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  cursor: pointer;
  color: var(--main-accent1-color);
}

.contactInfo {
  color: var(--main-accent4-color);
  list-style: none;
  text-align: right;
  margin-top: 55%;
  padding: 20px;
}

header {
  width: 75vw;
  color: var(--main-text-color);
  background: var(--main-background-color);
  padding: 30px;
  background-image: var(--main-bg-img);
  background-repeat: no-repeat;
  background-size: 70%;
  rotate: 352deg;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
}

.loriLogo {
  rotate: 125deg;
}

.strengths {
  margin-top: 5%;
  text-align: center;
  padding: 0 25%;
}

button {
  cursor: pointer;
  margin-top: 50px;
  width: 80vw;
  font-size: 200%;
  background-color: transparent;
  border-style: dotted;
  border-width: 10px;
  rotate: 352deg;
}

#responsibility,
#developer,
#achiever,
#belief,
#positivity {
  display: none;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1em;
  width: 100%;
  margin-top: 10%;
}

.info {
  color: var(--main-text-color);
  font-size: 1em;
  width: 25%;
  text-align: right;
  padding: 20px;
}

.myInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.responsibility {
  color: var(--main-accent1-color);
}

.developer {
  color: var(--main-accent2-color);
}

.achiever {
  color: var(--main-accent3-color);
}

.belief {
  color: var(--main-accent4-color);
}

.positivity {
  color: var(--main-background-color);
}

.p {
  color: white;
  width: 50px;
}

.goHome button {
  cursor: pointer;
  margin-top: 50px;
  width: 100vw;
  font-size: 2em;
  color: var(--main-text-color);
  background-color: var(--main-accent4-color);
  border-color: 8px dotted var(--main-text-color);
}

@media screen and (max-width: 855px) {
  header {
    width: 70vw;
    margin: 0;
    text-align: right;
    background-size: 70%;
  }

  .info {
    width: 85%;
    font-size: 1em;
  }
}

@media screen and (max-width: 295px) {
  button {
    font-size: 1em;
  }
}
