:root {
  --main-background-color: rgb(255, 255, 255);
  --main-text-color: rgb(165, 165, 165);
  --main-accent1-color: rgb(67, 67, 71);
  --main-accent2-color: rgb(3, 85, 112);
  --main-accent3-color: rgb(0, 0, 0);
  --main-accent4-color: teal;
  --main-test-color: GREEN;
}

body {
  background-color: var(--main-text-color);
  color: var(--main-background-color);
  font-family: "Mulish", sans-serif;
  width: 100vw;
}

a {
  cursor: pointer;
  color: var(--main-accent1-color);
}

.contactInfo {
  color: var(--main-accent4-color);
  list-style: none;
}

header {
  padding: 30px;
  height: 350px;
  width: cover;
  background: var(--main-background-color);
  padding: 20px;
  background-image: var(--main-bg-img);
  background-repeat: no-repeat;
  background-size: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
}

.loriLogo {
  height: 30%;
  margin: 10px;
  padding: 10px;
}

.strengths {
  margin-top: 5%;
  text-align: center;
  padding: 0 25%;
}

button {
  cursor: pointer;
  margin-top: 50px;
  width: 80vw;
  font-size: 200%;
  background-color: transparent;
  border-style: dotted;
  border-width: 10px;
}

#responsibility,
#developer,
#achiever,
#belief,
#positivity {
  display: none;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  font-size: 1em;
  width: 100%;
  margin-top: 10%;
}

.info {
  color: var(--main-text-color);
  font-size: 1.5em;
  width: 70%;
}

.myInfo {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.responsibility {
  color: var(--main-accent1-color);
}

.developer {
  color: var(--main-accent2-color);
}

.achiever {
  color: var(--main-accent3-color);
}

.belief {
  color: var(--main-accent4-color);
}

.positivity {
  color: var(--main-background-color);
}

.p {
  color: white;
  width: 50px;
}

.goHome button {
  cursor: pointer;
  margin-top: 50px;
  width: 100vw;
  font-size: 2em;
  color: var(--main-text-color);
  background-color: var(--main-accent4-color);
  border-color: 8px dotted var(--main-text-color);
}

/* @keyframes twirl {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
} */

@media screen and (max-width: 80px) {
  .strengths {
    margin-top: 45%;
  }
}

@media screen and (max-width: 800px) {
  .strengths {
    margin-top: 65%;
  }

  button {
    font-size: 100%;
  }
}

@media screen and (max-width: 500px) {
  .strengths {
    margin-top: 105%;
  }

  button {
    font-size: 100%;
  }
}

@media screen and (max-width: 280px) {
  .strengths {
    margin-top: 145%;
  }

  button {
    font-size: 100%;
  }
}
