
/* try no display for 2 of the lines and thank you for visiting

make star bigger under thank you

fix a tag link color

utlize black and gray instead of navy

make ability to toggle color scheme
OR 
based on: my favorite color is... and then that is the accent color with black/white/gray*/

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Mulish', sans-serif;
 /* display: flex;
  flex-direction: column; */
  justify-content: center; 
  width: 100vw;
  margin: 0;
  padding: 0;
} 
/* PATRIOTIC:
  --main-background-color: #040113;
  --main-accent1-color: #4f0505;
  --main-text-color: #f6f0dd;
  --main-accent2-color: #5a5a5c;
  --main-accent3-color: #02360a;
  --main-test-color: #de0ac5; */
/* 

/* MY STYLE
  --main-background-color: #040113;
  --main-accent1-color: #91268f;
  --main-text-color: #f6f0dd;
  --main-accent2-color: #15BCBE;
  --main-accent3-color: #151516;
  --main-test-color: RED; */


  /* SO JADED
    --main-background-color:  #0c3536;
  --main-accent1-color: #1a7bcb;
  --main-text-color: #b9e1a5;
  --main-accent2-color:#9dc1ed;
  --main-accent3-color: #edae82;
  --main-test-color: LIME; */

/* THAT 70s VIBE
  --main-background-color:  #063750;
  --main-accent1-color: #51e2c2;
  --main-text-color: #e98b2d;
  --main-accent2-color:#ebc109;
  --main-accent3-color: #db6008;
  --main-test-color: LIME; */

  /* AAAHHH THE 80s
    --main-background-color:  #080b09;
  --main-accent1-color: #27d310;
  --main-text-color: #d30fd9;
  --main-accent2-color:#8b17d8;
  --main-accent3-color: #0ecca3;
  --main-test-color: white; */

  /* RED, WHITE N BLUE
    --main-background-color:  white;
  --main-accent1-color: red;
  --main-text-color: navy;
  --main-accent2-color:blue;
  --main-accent3-color: gold;
  --main-test-color: hotpink; */

  /* SO DIVA
    --main-background-color:  white;
  --main-accent1-color: rgb(217, 19, 220);
  --main-text-color: rgb(10, 163, 23);
  --main-accent2-color:rgb(1, 1, 21);
  --main-accent3-color: rgb(20, 205, 196);
  --main-test-color: hotpink; */

  /* PRETTY IN PINK
    --main-background-color:  rgb(237, 180, 237);
  --main-accent1-color: rgb(18, 21, 21);
  --main-text-color: rgb(118, 112, 118);
  --main-accent2-color:rgb(119, 15, 112);
  --main-accent3-color: rgb(35, 132, 127);
  --main-test-color: GREEN; */

  /* HOW 'BOUT THEM COWBOYZ
    --main-background-color:  rgb(7, 7, 67);
  --main-accent1-color: rgb(238, 10, 223);
  --main-text-color: rgb(245, 240, 245);
  --main-accent2-color:rgb(133, 138, 138);
  --main-accent3-color: rgb(137, 159, 177);
  --main-test-color: GREEN; */

  /* HEY! WHAT IS YOUR FAVORITE COLOR?
    --main-background-color:  rgb(16, 16, 17);
  --main-accent1-color: rgb(255, 255, 255);
  --main-text-color: rgb(160, 158, 158);
  --main-accent2-color:rgb(15, 221, 224);
  --main-accent3-color: rgb(68, 68, 68);
  --main-test-color: GREEN; */

  /* FAVORITE COLOR - WHITE BACKGROUND
    --main-background-color:  rgb(255, 255, 255);
  --main-accent1-color: rgb(0, 0, 0);
  --main-text-color: rgb(160, 158, 158);
  --main-accent2-color:rgb(224, 15, 15);
  --main-accent3-color: rgb(68, 68, 68);
  --main-test-color: GREEN; */
  
/* 
--main-blue-color: #3f3f3f;
--main-pink-color: #050557;
--main-teal-color: #15bcbe;
--main-ltTeal-color: #74d3d5;
--main-navy-color: #15bcbe;
--main-gray-color: #151516; */

/* --main-blue-color: #090909;
--main-pink-color: #454343;
--main-teal-color: #91268f;
--main-ltTeal-color: #548787;
--main-navy-color: #15bcbe;
--main-gray-color: #151516; */

/* --main-blue-color: #e40808;
--main-pink-color: #0e0ade;
--main-teal-color: #ffffff;
--main-ltTeal-color: #070000;
--main-navy-color: #150555;
--main-gray-color: #5a5a5c; */

/*   --main-blue-color: #e40808;
  --main-pink-color: #0e0ade;
  --main-teal-color: #ffffff;
  --main-ltTeal-color: #070000;
  --main-navy-color: #150555;
  --main-gray-color: #5a5a5c; */

:root {
  --main-background-color:  rgb(0, 0, 0);
  --main-accent1-color: rgb(255, 255, 255);
  --main-text-color: rgb(253, 253, 253);
  --main-accent2-color:rgb(86, 49, 237);
  --main-accent3-color: rgb(68, 68, 68);
  --main-test-color: GREEN;
}



/* new root descriptions */
/* --main-background-color: #150555;
--main-accent1-color: #4f0505;
--main-text-color: #fff4cb;
--main-accent2-color: #5a5a5c;
--main-accent3-color: #02360a;
--main-test-color: #de0ac5; */

a {
cursor: pointer;
color: var(--main-accent3-color);
}

.responsibility{
  color: #91268f;
}

.developer{
  color: #BF61A6;
}

.achiever{
  color: #3D58A7;
}

.belief{
  color: #007F80;
}

.positivity {
  color: var(--main-accent3-color);
}

#responsibility,
#developer,
#achiever,
#belief,
#positivity {
  display:none;
}

header {
  height: 25%;
  background: var(--main-background-color);
  margin: 0;
  padding: 0;
} 

header .loriLogo{
  height: 70%;
  margin: 10px;
  padding: 10px;
}

.list{
  display: flex;
  justify-content: space-around;
  font-size: 30px;
  width: 100%;
}

header .strengths .info{
  display: flex;
  justify-self: right;
  color: var(--main-text-color);
  font-size: 1.5em;
  margin-right: 1%;
  margin-left: 29%;
  text-align: right;
  width: 70%;
}

header .myInfo {
  color: var(--main-accent1-color);
  text-align: left;
}

header .strengths .info .one{
  color: var(--main-accent1-color);
  display: flex;
  text-align: right;
  margin-top: 3%;
  font-size: 2.5em;
}


header .strengths .list .dots{
  color: black;
}

header .strengths .list .one{
  color: #91268f;
}

header .strengths .list .two{
  color: #BF61A6;
}

header .strengths .list .three{
  color: #3D58A7;
}

header .strengths .list .four{
  color: #06cbcb;
}

header .strengths .list .five{
  color: #99e7e7;
}


.border .line1 {
  background-color: var(--main-accent1-color);
  height: 10px;
  border: none;
}

.border .line2 {
  background-color: var(--main-accent2-color);
  height: 10px;
  margin-top: -10px;
  border: none;
}

.border .line3 {
  background-color: var(--main-text-color);
  height: 15px;
  margin-top: -10px;
  margin-bottom: 5%;
  border: none;
}

.decor {
  color: var(--main-accent1-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
}


.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h3{
  color: #f6f0dd98;
  text-align: center;
}

.skillsInfo {
  margin-top: 5%;
  color: var(--main-accent2-color);
}

.aboutMe h1 {
  margin-top: 2%;
  font-family: 'Great Vibes', cursive;
  font-size: 3.5em;
  color: var(--main-accent2-color);
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
}


.skillsListed {
  margin-top: 20%;
  padding: 24%;
  font-size: 1em;
}


.skillsList {
  font-size: 1.5em;
}


.collapsible {
  background-color: transparent;
  color: var(--main-accent2-color);
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.5em;
}

.collapsibleButton {
  background-color: transparent;
  color: var(--main-accent2-color);
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1em;
}

.active, .collapsible:hover {
  background-color: var(--main-accent1-color);
  color: var(--main-text-color);
}

.active, .collapsibleButton:hover {
  background-color: var(--main-accent1-color);
  color: text;
}

.content {
  color: var(--main-text-color);
  font-size: 1.5em;
background-color: transparent;
  text-align: center;
  padding: 0 25px;
  max-height: 0;
  max-width: 100%;
  overflow: hidden;
  transition: max-height 3s ease-out;
}

.contentButton {
  color: var(--main-text-color);
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: 0 8px;
  max-height: 0;
  max-width: 100%;
  margin-top: 20px;
  overflow: hidden;
  transition: max-height 3s ease-out;
} 

.youGetMe {
  list-style: none;
}

.youGetMe li {
  padding: 10px;
}




.box4 {
  background:  var(--main-accent1-color);
    /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  z-index: -7;
  animation: rotation 10s infinite;
}

.box5 {
  background: var(--main-text-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 30deg;
  margin-top: -12%;
  z-index: -6;
  animation: revRotation 10s infinite;
}

.box6 {
  background: var(--main-accent2-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 60deg;
  margin-top: -10%;
  z-index: -8;
  animation: rotation 10s infinite;
}

.box7 {
  background: var(--main-text-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  margin-top: -15%;
  rotate: 125deg;
  z-index: -7;
  animation: revRotation 10s infinite;
}

.box8 {
  background: var(--main-accent1-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 90deg;
  margin-top: -10%;
  z-index: -6;
  animation: revRotation 10s infinite;
}

.box9 {
  background: var(--main-accent2-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 155deg;
  margin-top: -10%;
  z-index: -8;
  animation: rotation 10s infinite;
}


.fireworks {
  display: flex;
  justify-content: right;
  margin-right: 12%;
  margin-top: 11%;
}

#theShow {
  background-color: var(--main-text-color);
  align-self: bottom;
  width: 75px;
  border-radius: 15%;
  border:none;
  cursor: pointer;
}



#box4x,
#box4xa,
#box4xb
.box4x {
  /* background:  var(--main-pink-color); */
  background: transparent;
  /* background-color: blue; */
  width: 70px;
  height: 280px;
  border: 13px dotted var(--main-accent2-color);
  border-radius: 50%;
  z-index: -5;
  animation: revRotationX 8s 2;
  position: absolute;
} 

#box15,
#box15a,
#box15b,
.box15 {
  background:  transparent;
  /* margin-top: 2%; */
  /* background-color: blue; */
  /* background: green; */
    width: 70px;
  height: 140px;
  border: 13px dotted var(--main-text-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  z-index: -4;
  animation: revRotationXY 8s 500ms 2;
  position: absolute;
} 

#box5y,
#box5ya,
#box5yb,
.box5y {
  background: var(--main-teal-color);
  background: transparent;
  /* background-color: orange; */
  width: 70px;
  height: 280px;
  border: 13px dotted var(--main-accent2-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 30deg;
  z-index: -5;
  animation: revRotationX 8s 2;
  position: absolute;
}

#box14,
#box14a,
#box14b,
.box14 {
  background: transparent;
  /* background-color: orange; */
  /* background: green; */
   /* margin-top: 2%; */
    width: 70px;
  height: 140px;
  border: 13px dotted var(--main-text-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 30deg;
  z-index: -4;
  animation: revRotationXY 8s 500ms 2;
  position: absolute;
}

#box6z,
#box6za,
#box6zb,{
  background:transparent;
  /* background-color: yellow; */
  width: 70px;
  height: 280px;
  border: 13px dotted var(--main-accent2-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 60deg;
  z-index: -5;
  animation: revRotationX 8s 2;
  position: absolute;
}

#box13,
#box13a,
#box13b,
.box13 {
  background: transparent;
  /* background-color: yellow; */
  /* background: green; */
   /* margin-top: 2%; */
    width: 70px;
  height: 140px;
  border: 13px dotted var(--main-text-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 60deg;
  z-index: -4;
  animation: revRotationXY 8s 500ms 2;
  position: absolute;
}

#box7y,
#box7ya,
#box7yb,
.box7y {
  background: transparent;
  /* background-color: pink; */
    width: 70px;
  height: 280px;
  border: 13px dotted var(--main-accent2-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 125deg;
  z-index: -5;
  animation: revRotationX 8s 2;
  position: absolute;
} 

#box12,
#box12a,
#box12b,
.box12 {
  background:transparent;
  /* background-color: green; */
  /* background: green; */
   /* margin-top: 2%; */
    width: 70px;
  height: 140px;
  border: 13px dotted var(--main-text-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 125deg;
  z-index: -4;
  animation: revRotationXY 8s  500ms 2;
  position: absolute;
}

#box8x,
#box8xa,
#box8xb,
.box8x {
  background: transparent;
  /* background-color: green; */
    width: 70px;
  height: 280px;
  border: 13px dotted var(--main-accent2-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 90deg;
  z-index: -5;
  animation: revRotationX 8s 2;
  position: absolute;
}

#box11,
#box11a,
#box11b,
.box11 {
  background: transparent;
  /* background-color: green; */
  /* background: green; */
   /* margin-top: 2%; */
    width: 70px;
  height: 140px;
  border: 13px dotted var(--main-text-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 90deg;
  z-index: -4;
  animation: revRotationXY 8s 500ms 2;
  position: absolute;
}

#box9z,
#box9za,
#box9zb,
.box9z {
  background: transparent;
  /* background-color: blue; */
    width: 70px;
  height: 280px;
  border: 13px dotted var(--main-accent2-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 155deg;
  z-index: -5;
  animation: revRotationX 8s 2;
  position: absolute;
}

#box10,
#box10a,
#box10b,
.box10 {
  background: transparent;
  /* background: green; */
  /* background-color: red; */
   /* margin-top: 2%; */
    width: 70px;
  height: 140px;
  border: 13px dotted var(--main-text-color);
  /* width: 55px;
  height: 210px; */
  border-radius: 50%;
  rotate: 155deg;
  z-index: -4;
  animation: revRotationXY 8s 500ms 2;
  position: absolute;
}


.footer {
  display: flex;
  justify-items: center;
  height: 10%;
  width: 100%;
  overflow: hidden;
  background-color: var(--main-accent3-color);
}





.triangles {
  display: flex;
  justify-content: right;
}



.triangle{
  /* width: 0;
  height: 0; */
  /* margin-left: -25%; */
  border-left: 510px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 500px solid var(--main-text-color);
  position: absolute;
  z-index: -2;  
} 

.triangle2{
  /* width: 0;
  height: 0; */
  /* margin-left: -25%; */
  border-left: 510px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 500px solid var(--main-accent1-color);
  position: absolute;
  z-index: -1;  
} 

.triangle3{
  /* width: 0;
  height: 0; */
  /* margin-left: -25%; */
  border-left: 510px solid transparent;
  border-right: 40px solid transparent;
  border-bottom: 500px solid var(--main-accent2-color);
  position: absolute;
  z-index: -3;  
} 



/* .contactMe {
  z-index: 0;
} */

.title {
  color: var(--main-text-color);
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}


.contactInfo {
  z-index: 2;
  color: var(--main-text-color);
  text-align: bottom;
  list-style: none;
}


.thanks {
  font-size: 2em;
  text-align: right;
}

/* .goHome {
  display: flex;
  align-self: center;
}

.homeBtn {
  background-color: var(--main-teal-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15%;
}  */


@keyframes rotationX {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes revRotation {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}


@keyframes rotationY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* fireworks */
@keyframes revRotationX {
  from { 
    bottom: -125%;
    transform: rotateX(0deg);
    opacity: 100%;
  }
  to {
    bottom: 0%;
    transform: rotateX(360deg);
    opacity: 0%;
    border-color:black;
  }
}

@keyframes revRotationXY {
  from { 
    
    bottom: -100%;
    transform: rotateX(0deg);
    transform: rotateY(360deg);
    opacity: 100%;
    /* border-color: blue; */
  }
  to {
    bottom: 0%;
    transform: rotateX(360deg);
    transform: rotateY(0deg);
    opacity: 0%;
    /* border-color: white; */
  }
}

@keyframes disappear {
  from { 
    opacity: 100%;
  }
  to {
    opacity: 0%;
  }
}


  
  @media screen and (max-width: 600px) {

    header .strengths .list {
      display: flex;
      text-justify: center;
      font-size: 1em;
    }

    .decor {
      padding: 5%;
    }

    .borderProjects .projects{
      font-size: 3em;
      padding: 20%;
    }


    /* .triangles {
      display: none;
    } */

    .contactInfo, .title {
      margin-top: 15%;
      color: var(--main-pink-color);
      text-align: right;
      font-size: 1.2em;
    }

    .thanks {
      color: var(--main-ltTeal-color);
    }
  
  }


