/*

make fireworks button to start show then switch to encore
then make a better display for the encore 

then work on color scheme

fix a tag link color

then add database for gathering information such as visits, voting, tracking of color chosen and some type of graph that reflects that.

make ability to toggle color scheme
OR 
based on: my favorite color is... and then that is the accent color with black/white/gray*/

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: 'Mulish', sans-serif;
 /* display: flex;
  flex-direction: column; */
  justify-content: center; 
  width: 100vw;
  margin: 0;
  padding: 0;
} 
/* PATRIOTIC:*/

  /* --main-background-color: #040113;
  --main-text-color: #f6f0dd;
  --main-accent1-color: #6e0202;
  --main-accent2-color: #090de6;
  --main-accent4-color: #4e4e50;
  --main-accent3-color: #2c2c2d;
  --main-test-color: #de0ac5;  */
/* 

/* MY STYLE*/
/* --main-background-color: #09022c;
--main-text-color: #f6f0dd;
--main-accent1-color: #91268f;
--main-accent2-color: #025e61;
--main-accent3-color: #15BCBE;
--main-accent4-color: #96e0e1;
--main-test-color: RED; */


  /* SO JADED*/
  /* --main-background-color:  #04332c;
  --main-text-color: #79f8e5;
  --main-accent1-color: #044d42;
  --main-accent2-color:#454848;
  --main-accent3-color: #8f9191;
  --main-accent4-color: #09b59b;
  --main-test-color: LIME; */

/* THAT 70s VIBE*/
/* --main-background-color: rgb(35, 16, 2);
--main-text-color:  #f7e38c;
--main-accent1-color: #db6008;
--main-accent2-color: #e98b2d;
--main-accent4-color:#ebc109;
--main-accent3-color: LIME;
--main-test-color: #51e2c2; */

  /* AAAHHH THE 80s*/
  /* --main-background-color:  #080b09;
  --main-text-color: white;
  --main-accent4-color: #dafb04;
  --main-accent2-color: #d30fd9;
  --main-accent3-color: #27d310;
  --main-accent1-color:#8b17d8;
  --main-test-color: rgb(9, 143, 225); */

  /* RED, WHITE N BLUE*/
  /* --main-background-color:  gray;
  --main-accent3-color: red;
  --main-text-color: white;
  --main-accent2-color:blue;
  --main-accent4-color: rgb(195, 166, 1);
  --main-accent1-color: navy;
  --main-test-color: hotpink; */

  /* SO DIVA*/
  /* --main-background-color:  white;
  --main-text-color: rgb(10, 163, 23);
  --main-accent1-color: rgb(217, 19, 220);
  --main-accent2-color:rgb(1, 1, 21);
  --main-accent3-color: rgb(20, 205, 196);
  --main-accent4-color: gray;
  --main-test-color: hotpink;  */

  /* PRETTY IN PINK*/
  /* --main-background-color:  rgb(105, 13, 109);
  --main-text-color:rgb(111, 218, 225);
  --main-accent1-color: rgb(0, 0, 0);
  --main-accent2-color: rgb(92, 87, 87);
  --main-accent3-color: rgb(172, 174, 174);
  --main-accent4-color: rgb(4, 82, 87);
  --main-test-color: GREEN;  */

  /* HOW 'BOUT THEM COWBOYZ*/
  /* --main-background-color:  rgb(2, 2, 46);
  --main-accent2-color: rgb(245, 240, 245);
  --main-text-color:rgb(133, 138, 138);
  --main-accent3-color: rgb(137, 159, 177);
  --main-accent1-color: rgb(37, 37, 39);
  --main-accent4-color: rgb(238, 10, 223);
  --main-test-color: GREEN; */

  /* HEY! WHAT IS YOUR FAVORITE COLOR?*/
  /* --main-background-color:  rgb(16, 16, 17);
  --main-accent4-color: rgb(160, 158, 158);
  --main-accent1-color: rgb(255, 255, 255);
  --main-text-color:rgb(150, 6, 255);
  --main-accent3-color: rgb(68, 68, 68);
  --main-accent2-color: rgb(75, 0, 130);
  --main-test-color: GREEN; */

  /* --main-background-color:  rgb(16, 16, 17);
  --main-accent2-color:rgb(150, 6, 255);
  --main-accent4-color: rgb(160, 158, 158);
  --main-text-color: rgb(255, 255, 255);
  --main-accent3-color: rgb(68, 68, 68);
  --main-accent1-color: rgb(75, 0, 130);
  --main-test-color: GREEN; */
/* 
  FAVORITE COLOR - WHITE BACKGROUND */
  /* --main-background-color:  rgb(255, 255, 255);
  --main-text-color: rgb(165, 165, 165);
  --main-accent1-color:rgb(67, 67, 71);
  --main-accent2-color: rgb(3, 85, 112);
  --main-accent3-color: rgb(0, 0, 0) ;
  --main-accent4-color: teal;
  --main-test-color: GREEN; */




/* new root descriptions */
:root {
  --main-background-color:  rgb(255, 255, 255);
  --main-text-color: rgb(165, 165, 165);
  --main-accent1-color:rgb(67, 67, 71);
  --main-accent2-color: rgb(3, 85, 112);
  --main-accent3-color: rgb(0, 0, 0) ;
  --main-accent4-color: teal;
  --main-test-color: GREEN; 
}

a {
cursor: pointer;
color: var(--main-accent1-color);
}



header .strengths .list .dots{
  color: black;
}

header .strengths .list .one{
  color: var(--main-accent1-color);
}

header .strengths .list .two{
  color: var(--main-accent2-color);
}

header .strengths .list .three{
  color: var(--main-accent3-color);
}

header .strengths .list .four{
  color: var(--main-accent4-color);
}

header .strengths .list .five{
  color: var(--main-text-color);
}

#responsibility,
#developer,
#achiever,
#belief,
#positivity {
  display:none;
}

header {
  height: 25%;
  background: var(--main-background-color);
  margin: 0;
  padding: 0;
} 

header .loriLogo{
  height: 70%;
  margin: 10px;
  padding: 10px;
}

.list{
  display: flex;
  justify-content: space-around;
  font-size: 2em;
  width: 100%;
}

header .strengths .info{
  display: flex;
  justify-self: right;
  color: var(--main-text-color);
  font-size: 1.5em;
  margin-right: 1%;
  margin-left: 29%;
  text-align: right;
  width: 70%;
}

.border .line1 {
  background-color: var(--main-accent1-color);
  height: 10px;
  border: none;
}

.border .line2 {
  background-color: var(--main-accent3-color);
  height: 10px;
  margin-top: -10px;
  border: none;
}

.border .line3 {
  background-color: var(--main-text-color);
  height: 15px;
  margin-top: -10px;
  margin-bottom: 5%;
  border: none;
}

.decor {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-evenly;
}


.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

h3{
  color: var(--main-accent2-color);
  text-align: center;
}

.skillsInfo {
  margin-top: 5%;
  color: var(--main-accent3-color);
}

.aboutMe h1 {
  margin-top: 2%;
  font-family: 'Great Vibes', cursive;
  font-size: 3.5em;
  color: var(--main-accent4-color);
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
}


.skillsListed {
  margin-top: 20%;
  padding: 24%;
  font-size: 1em;
}


.skillsList {
  font-size: 1.5em;
}

.toggle {
  color: var(--main-accent3-color);
}


.collapsible {
  background-color: transparent;
  color: var(--main-accent2-color);
  cursor: pointer;
  padding: 18px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1.5em;
}

.collapsibleButton {
  background-color: transparent;
  color: var(--main-accent2-color);
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1em;
}

.active, .collapsible:hover {
  background-color: var(--main-accent2-color);
  color: var(--main-text-color);
}

.active, .collapsibleButton:hover {
  background-color: var(--main-accent2-color);
  color: text;
}

.content {
  color: var(--main-text-color);
  font-size: 1.5em;
  background-color: transparent;
  text-align: center;
  padding: 0 25px;
  max-height: 0;
  max-width: 100%;
  overflow: hidden;
  transition: max-height 3s ease-out;
}

.contentButton {
  color: var(--main-text-color);
  font-size: 1em;
  display: flex;
  align-items: center;
  padding: 0 8px;
  max-height: 0;
  max-width: 100%;
  margin-top: 20px;
  overflow: hidden;
  transition: max-height 3s ease-out;
} 

.youGetMe {
  list-style: none;
}

.youGetMe li {
  padding: 10px;
}




.box4 {
  background:  var(--main-accent1-color);
    /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  z-index: -7;
  animation: rotation 10s infinite;
}

.box5 {
  background: var(--main-text-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 30deg;
  margin-top: -12%;
  z-index: -6;
  animation: revRotation 10s infinite;
}

.box6 {
  background: var(--main-accent3-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 60deg;
  margin-top: -10%;
  z-index: -8;
  animation: rotation 10s infinite;
}

.box7 {
  background: var(--main-text-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  margin-top: -15%;
  rotate: 125deg;
  z-index: -7;
  animation: revRotation 10s infinite;
}

.box8 {
  background: var(--main-accent1-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 90deg;
  margin-top: -10%;
  z-index: -6;
  animation: revRotation 10s infinite;
}

.box9 {
  background: var(--main-accent3-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 155deg;
  margin-top: -10%;
  z-index: -8;
  animation: rotation 10s infinite;
}

.focalPoint {
  text-align: right;
  margin-top: 14%;
  display: block;
  margin-right: 3%;
}

.style {
  z-index: -6;
  margin-top: 5%;
  margin-right: 15%;
}

.fireworks {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-evenly;
  align-items: flex-end;
  z-index: 0;
}

/* #theShow {
  background-color: var(--main-accent2-color);
  color: var(--main-text-color);
  width: 75px;
  border-radius: 15%;
  border:none;
  cursor: pointer;
  z-index: 0;
}

#theShow:active {
  transform: scale(0.75);
} */


#box4x,
#box4xa,
#box4xb,
.box4x {
  background: transparent;
  /* background-color: blue;*/
  width: 0px;
  height: 0px;
  border: 13px dotted var(--main-accent2-color);
  border-radius: 50%;
  z-index: -5;
  animation: revRotationX 4s 8;
  position: absolute;
} 

#box15,
#box15a,
#box15b,
.box15 {
  background:  transparent;
  /* background-color: blue; */
  width: 0px;
  height: 0px;
  border: 8px dotted var(--main-accent4-color);
  border-radius: 50%;
  z-index: -4;
  animation: revRotationXY 6s 1s 6;
  position: absolute;
} 

#box5y,
#box5ya,
#box5yb,
.box5y {
  background: var(--main-teal-color);
  background: transparent;
  width: 0px;
  height: 0px;
  border: 13px dotted var(--main-accent2-color);
  border-radius: 50%;
  rotate: 30deg;
  z-index: -5;
  animation: revRotationX 4s 8;
  position: absolute;
}

#box14,
#box14a,
#box14b,
.box14 {
  background: transparent;
  /* background-color: pink; */
   width: 0px;
   height: 0px;
  border: 8px dotted var(--main-accent4-color);
  border-radius: 50%;
  rotate: 30deg;
  z-index: -4;
  animation: revRotationXY 6s 1s 6;
  position: absolute;
}

#box6z,
#box6za,
#box6zb,
.box6z {
  background:transparent;
  /* background-color: yellow; */  
  width: 0px;
  height: 0px;
  border: 13px dotted var(--main-accent2-color);
  border-radius: 50%;
  rotate: 60deg;
  z-index: -5;
  animation: revRotationX 4s 8;
  position: absolute;
}

#box13,
#box13a,
#box13b,
.box13 {
  background: transparent;
  /* background-color: yellow; */
  width: 0px;
  height: 0px;
  border: 8px dotted var(--main-accent4-color);
  border-radius: 50%;
  rotate: 60deg;
  z-index: -4;
  animation: revRotationXY 6s 1s 6;
  position: absolute;
}

#box7y,
#box7ya,
#box7yb,
.box7y {
  background: transparent;
  /* background-color: pink; */
  width: 0px; 
  height: 0px;
  border: 13px dotted var(--main-accent2-color);
  border-radius: 50%;
  rotate: 125deg;
  z-index: -5;
  animation: revRotationX 4s 8;
  position: absolute;
} 

#box12,
#box12a,
#box12b,
.box12 {
  background:transparent;
  /* background-color: green; */
  width: 0px;
  height: 0px;
  border: 8px dotted var(--main-accent4-color);
  border-radius: 50%;
  rotate: 125deg;
  z-index: -4;
  animation: revRotationXY 6s 1s 6;
  position: absolute;
}

#box8x,
#box8xa,
#box8xb,
.box8x {
  background: transparent;
  /* background-color: green; */
  width: 0px; 
  height: 0px;
  border: 13px dotted var(--main-accent2-color);
  border-radius: 50%;
  rotate: 90deg;
  z-index: -5;
  animation: revRotationX 4s 8;
  position: absolute;
}

#box11,
#box11a,
#box11b,
.box11 {
  background: transparent;
  /* background-color: green; */
  width: 0px;
  height: 0px;
  border: 8px dotted var(--main-accent4-color);
  border-radius: 50%;
  rotate: 90deg;
  z-index: -4;
  animation: revRotationXY 6s 1s 6;
  position: absolute;
}

#box9z,
#box9za,
#box9zb,
.box9z {
  background: transparent;
  /* background-color: blue; */
  width: 0px; 
  height: 0px;
  border: 13px dotted var(--main-accent2-color); 
  border-radius: 50%;
  rotate: 155deg;
  z-index: -5;
  animation: revRotationX 4s 8;
  position: absolute;
}

#box10,
#box10a,
#box10b,
.box10 {
  background: transparent;
  /* background: green; */
  width: 0px;
  height: 0px;
  border: 8px dotted var(--main-accent4-color);
  border-radius: 50%;
  rotate: 155deg;
  z-index: -4;
  animation: revRotationXY 6s 1s 6;
  position: absolute;
}






.triangles {
  display: flex;
  justify-content: right;
  overflow: hidden;
}



.triangle {
  border-left: 475px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 500px solid var(--main-text-color);
  position: absolute;
  z-index: -2;  
} 

.triangle2 {
  border-left: 430px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 500px solid var(--main-accent1-color);
  position: absolute;
  z-index: -1;  
} 

.triangle3 {
  border-left: 510px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 500px solid var(--main-accent2-color);
  position: absolute;
  z-index: -3;  
} 




.title {
  color: var(--main-text-color);
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}


.contactInfo {
  z-index: 2;
  color: var(--main-text-color);
  text-align: bottom;
  list-style: none;
}


.thanks {
  color: var(--main-text-color);
  font-size: 2em;
  text-align: bottom left;
  z-index: 0;

}

/* .goHome {
  display: flex;
  align-self: center;
}

.homeBtn {
  background-color: var(--main-teal-color);
  color: white;
  border: none;
  border-radius: 50%;
  padding: 15%;
}  */


@keyframes rotationX {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes revRotation {
  from {
    transform: rotateZ(360deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}


@keyframes rotationY {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/* fireworks */
@keyframes revRotationX {
  from { 
    width: 0px;
    height: 0px;
    bottom: -130%;
    transform: rotateX(180deg);
    opacity: 100%;
  }
  to {
    width: 150px;
    height: 100px;
    bottom: 0%;
    transform: rotateX(90deg);
    opacity: 0%;
  }
}

@keyframes revRotationXY {
  from { 
    width: 0px;
    height: 0px;
    bottom: -130%;
    transform: rotateX(180deg);
    transform: rotateY(180deg);
    opacity: 100%;
  }
  to {
    width: 200px;
    height: 100px;
    bottom: -20%;
    transform: rotateX(90deg);
    transform: rotateY(90deg);
    opacity: 70%;
  }
}


  
  @media screen and (max-width: 1024px) {

    header .strengths .list {
      display: flex;
      text-justify: center;
      font-size: 1em;
    }

    .decor {
      padding: 5%;
    }

    .contactInfo, .title {
      margin-top: 5%;
      color: var(--main-text-color);
      text-align: right;
      font-size: 1.25em;
    }

    .thanks {
      color: var(--main-text-color);
      font-size: 3em;
      margin-top: 5%;
    }
  
  }



/* tablets */

  
  @media screen and (max-width: 768px) {

    header .strengths .list {
      display: flex;
      text-justify: center;
      font-size: 1em;
    }

    .decor {
      padding: 25%;
    }

    .borderProjects .projects{
      font-size: 3em;
      padding: 20%;
    }


    /* .triangles {
      display: none;
    } */

    .contactInfo, .title {
      margin-top: 15%;
      margin-right: 5%;
      color: var(--main-text-color);
      text-align: right;
      font-size: 1.2em;
    }

    .thanks {
      color: var(--main-text-color);
      font-size: 3em;
      margin-top: 5%;
    }
  
  }

/* phones */

  @media screen and (max-width: 480px) {

    header .strengths .list {
      display: flex;
      text-justify: center;
      font-size: 0.75em;
    }

    .decor {
      padding: 25%;
    }

    .triangles {
      display: none;
    }


    .style {
      margin-top: -18%;
      z-index: -3;
    }

    #theShow {
      height: 100px;
      width: 105%;
      font-size: 1.5em;
    }

    @keyframes revRotationX {
      from { 
        width: 0px;
        height: 0px;
        bottom: -190%;
        transform: rotateX(180deg);
        opacity: 100%;
      }
      to {
        width: 150px;
        height: 100px;
        bottom: -180%;
        transform: rotateX(90deg);
        opacity: 0%;
      }
    }

    @keyframes revRotationXY {
      from { 
        width: 0px;
        height: 0px;
        bottom: -10%;
        transform: rotateX(180deg);
        transform: rotateY(180deg);
        opacity: 100%;
      }
      to {
        width: 200px;
        height: 100px;
        bottom: -0%;
        transform: rotateX(90deg);
        transform: rotateY(90deg);
        opacity: 70%;
      }
    }






   

    .contactInfo, .title {
      margin-top: 35%;
      margin-right: 5%;
      color: var(--main-text-color);
      text-align: right;
      font-size: 1.5em;
    }

    .thanks {
      color: var(--main-text-color);
      font-size: 2em;
      margin-top: 15%;
    }
  
  }


