


body {
  background-color: lightgray;
  color: white;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
} 

:root {
  --main-blue-color: #3D58A7;
  --main-pink-color: #91268f;
  --main-teal-color: #15BCBE;
  --main-navy-color: #050557;
}

a {
cursor: pointer;
}

h3 {
  color: green;
}

.responsibility{
  color: #91268f;
}

.developer{
  color: #BF61A6;
}

.achiever{
  color: var(--main-blue-color);
}

.belief{
  color: #007F80;
}

.positivity {
  color: var(--main-teal-color);
}

#responsibility,
#developer,
#achiever,
#belief,
#positivity {
  display:none;
}

header {
  padding: 30px;
  height: 25%;
  /* width: cover; */
  background: white;
  /* overflow: hidden; */
  display: cover;
  overflow: hidden;
}

header .loriLogo{
  height: 70%;
  margin: 10px;
  padding: 10px;
}


header .strengths .list{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

header .strengths .info{
  color: var(--main-teal-color);
  font-size: 1.5em;
  margin-right: 1%;
  margin-left: 29%;
  text-align: right;
  width: 70%;
}

header .myInfo {
  font: var(--main-teal-color);
  text-align: left;
}

header .strengths .info .one{
  color: var(--main-teal-color);
  display: flex;
  text-align: right;
  margin-top: 3%;
  font-size: 2.5em;
}


header .strengths .list .dots{
  color: black;
}

.responsibility{
  color: #91268f;
}

.developer{
  color: #BF61A6;
}

.achiever{
  color: var(--main-blue-color);
}

.belief{
  color: #007F80;
}

.positivity {
  color: var(--main-teal-color);
}



.title {
  margin-top: 15%;
  color: var(--main-pink-color);
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

.contactInfo {
  margin-right: 2%;
  margin-top: 10%;
  z-index: 0;
  font-size: 1.5em;
  color: white;
  text-align: right;
  list-style: none;
}

.contactMe a {
  color: white;
}


  
  @media screen and (max-width: 950px) {

    body: {
      overflow: hidden;
    }    

    header .strengths .list {
      display: flex;
      text-justify: center;
      font-size: 1em;
    }

    .decor {
      padding: 5%;
    }

    .myProjects {
      display: flex;
      flex-direction: column;
      text-justify: center;
      font-size: 1em;
      padding: none;
      width: 100%;
    }

    .project1, 
    .project2,
    .project3 {
      width: 100%;
    }

    .triangles {
      display: none;
    }

    .contactInfo, .title {
      margin-top: 5%;
      color: var(--main-pink-color);
    }
  }
