:root,

/* default */
:root.default {
  --main-bg-img: url("images/logo.black.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #dbd9d9;
  --main-text-color: #a5a5a5;
  --main-accent2-color: #434347;
  --main-accent1-color: #02484b;
  --main-accent3-color: #000000;
  --main-accent4-color: #02494b97;
  --main-test-color: #008000;
}

:root.patriotic {
  --main-bg-img: url("images/logo.offWhite.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #09022c;
  --main-text-color: #79b3ea;
  --main-accent1-color: #8c090b;
  --main-accent3-color: #1013da;
  --main-accent4-color: #4e4e50;
  --main-accent2-color: #f5f5f7;
  --main-test-color: #de0ac5;
}

:root.myStyle {
  --main-bg-img: url("images/logo.hpink.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #09022c;
  --main-text-color: #f6f0dd;
  --main-accent1-color: #91268f;
  --main-accent2-color: #025e61;
  --main-accent3-color: #15bcbe;
  --main-accent4-color: #96e0e1;
  --main-test-color: RED;
}

:root.soJaded {
  --main-bg-img: url("images/logo.offWhite.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #04332c;
  --main-text-color: #79f8e5;
  --main-accent1-color: #044d42;
  --main-accent2-color: #454848;
  --main-accent3-color: #8f9191;
  --main-accent4-color: #09b59b;
  --main-test-color: #00ff00;
}

:root.that70vibe {
  --main-bg-img: url("images/logo.lime.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #231002;
  --main-text-color: #f7e38c;
  --main-accent1-color: #db6008;
  --main-accent2-color: #e98b2d;
  --main-accent4-color: #ebc109;
  --main-accent3-color: #06da06;
  --main-test-color: #51e2c2;
}

:root.aaah80s {
  --main-bg-img: url("images/logo.white.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #080b09;
  --main-text-color: white;
  --main-accent4-color: #c2de08;
  --main-accent2-color: #d30fd9;
  --main-accent3-color: #27d310;
  --main-accent1-color: #8b17d8;
  --main-test-color: rgb(9, 143, 225);
}

:root.soDiva {
  --main-bg-img: url("images/logo.black.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #eae5e5;
  --main-text-color: #0aa317;
  --main-accent1-color: #d913dc;
  --main-accent2-color: #010115;
  --main-accent3-color: #14cdc4;
  --main-accent4-color: #7e08ec;
  --main-test-color: #ff69b4;
}

:root.prettyInPink {
  --main-bg-img: url("images/logo.white.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #e09ac4;
  --main-text-color: #ffffff;
  --main-accent3-color: #f5c0ea;
  --main-accent4-color: #535353;
  --main-accent2-color: #010101;
  --main-accent1-color: #f503d5;
  --main-test-color: #008000;
}

:root.myTeam {
  --main-bg-img: url("images/logo.white.png");
  --main-logo-img: url("images/logoLD.png");
  --main-background-color: #02022e;
  --main-accent2-color: #ffffff;
  --main-text-color: #a5a9a9;
  --main-accent1-color: #787b80;
  --main-accent3-color: #d1ede784;
  --main-accent4-color: #f608ea;
  --main-test-color: #40e0d0;
}

/* future theme ideas */
/* :root.pickFaveColor {
  --main-background-color: rgb(16, 16, 17);
  --main-accent4-color: rgb(160, 158, 158);
  --main-accent1-color: rgb(255, 255, 255);
  --main-text-color: rgb(150, 6, 255);
  --main-accent3-color: rgb(68, 68, 68);
  --main-accent2-color: rgb(75, 0, 130);
  --main-test-color: GREEN;
} */

/* --main-background-color:  rgb(16, 16, 17);
  --main-accent2-color:rgb(150, 6, 255);
  --main-accent4-color: rgb(160, 158, 158);
  --main-text-color: rgb(255, 255, 255);
  --main-accent3-color: rgb(68, 68, 68);
  --main-accent1-color: rgb(75, 0, 130);
  --main-test-color: GREEN; */
/* 
  FAVORITE COLOR - WHITE BACKGROUND */
/* --main-background-color:  rgb(255, 255, 255);
  --main-text-color: rgb(165, 165, 165);
  --main-accent1-color:rgb(67, 67, 71);
  --main-accent2-color: rgb(3, 85, 112);
  --main-accent3-color: rgb(0, 0, 0) ;
  --main-accent4-color: teal;
  --main-test-color: GREEN; */
