/* :root,*/

header {
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-items: flex-end;
  align-items: flex-end;
  background-color: var(--main-background-color);
  background-image: var(--main-bg-img);
  background-repeat: no-repeat;
  background-size: 40%;
}

.contactInfo {
  color: var(--main-text-color);
  list-style: none;
  text-align: end;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Mulish", sans-serif;
  font-size: 1em;
  padding: 0;
  margin: 0;
}

.comingSoon {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  text-align: center;
}

h1 {
  font-family: "Great Vibes", cursive;
  color: var(--main-accent4-color);
  font-size: 2em;
}

.choose {
  color: var(--main-accent3-color);
}

nav a {
  display: block;
  width: 100%;
  height: auto;
  color: var(--main-background-color);
  font-size: 2em;
}

.line1 {
  height: 55px;
  background-color: var(--main-accent3-color);
  border: none;
}

.line2 {
  height: 45px;
  background-color: var(--main-accent2-color);
  border: none;
  margin-top: -20px;
}

.line3 {
  height: 40px;
  background-color: var(--main-accent1-color);
  border: none;
  margin-top: -20px;
}

/* color picking buttons and themes: */

.theme-btn {
  width: 150px;
  height: 95px;
  padding: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 10px solid white;
  border-radius: 15%;
  background-color: white;
}

a {
  color: var(--main-accent4-color);
}

.contactInfo {
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10%;
}

@media screen and (max-width: 550px) {
  header {
    height: 150px;
    background-size: 40%;
  }

  body {
    margin: 0;
    font-size: 1em;
  }

  .toggle-container {
    background-color: white;
  }

  .theme-btn {
    width: 50vw;
    border-radius: 0%;
  }
}
