:root,
:root.patriotic {
  --main-bg-img: url("images/logo.offWhite.png");
  --main-background-color: #09022c;
  --main-text-color: #f6f0dd;
  --main-accent1-color: #6c0d0f;
  --main-accent2-color: #12147a;
  --main-accent4-color: #4e4e50;
  --main-accent3-color: #2c2c2d;
  --main-test-color: #de0ac5;
}

:root.myStyle {
  --main-bg-img: url("images/logo.hpink.png");
  --main-background-color: #09022c;
  --main-text-color: #f6f0dd;
  --main-accent1-color: #91268f;
  --main-accent2-color: #025e61;
  --main-accent3-color: #15bcbe;
  --main-accent4-color: #96e0e1;
  --main-test-color: RED;
}

:root.soJaded {
  --main-bg-img: url("images/logo.offWhite.png");
  --main-background-color: #04332c;
  --main-text-color: #79f8e5;
  --main-accent1-color: #044d42;
  --main-accent2-color: #454848;
  --main-accent3-color: #8f9191;
  --main-accent4-color: #09b59b;
  --main-test-color: #00ff00;
}

:root.that70vibe {
  --main-bg-img: url("images/logo.lime.png");
  --main-background-color: #231002;
  --main-text-color: #f7e38c;
  --main-accent1-color: #db6008;
  --main-accent2-color: #e98b2d;
  --main-accent4-color: #ebc109;
  --main-accent3-color: #00ff00;
  --main-test-color: #51e2c2;
}

:root.aaah80s {
  --main-bg-img: url("images/logo.white.png");
  --main-background-color: #080b09;
  --main-text-color: white;
  --main-accent4-color: #dafb04;
  --main-accent2-color: #d30fd9;
  --main-accent3-color: #27d310;
  --main-accent1-color: #8b17d8;
  --main-test-color: rgb(9, 143, 225);
}

/* :root.redWhiteBlue {
  --main-background-color: gray;
  --main-accent3-color: red;
  --main-text-color: white;
  --main-accent2-color: blue;
  --main-accent4-color: rgb(195, 166, 1);
  --main-accent1-color: navy;
  --main-test-color: hotpink;
} */

:root.soDiva {
  --main-bg-img: url("images/logo.black.png");
  --main-background-color: #eae5e5;
  --main-text-color: #0aa317;
  --main-accent1-color: #d913dc;
  --main-accent2-color: #010115;
  --main-accent3-color: #14cdc4;
  --main-accent4-color: #808080;
  --main-test-color: #ff69b4;
}

:root.prettyInPink {
  --main-bg-img: url("images/logo.white.png");
  --main-background-color: #e09ac4;
  --main-text-color: #ffffff;
  --main-accent1-color: #9ed18c;
  --main-accent2-color: #4c504c;
  --main-accent3-color: #010101;
  --main-accent4-color: #f503d5;
  --main-test-color: #008000;
}

/* :root.demBoyz {
  --main-background-color: rgb(2, 2, 46);
  --main-accent2-color: rgb(245, 240, 245);
  --main-text-color: rgb(133, 138, 138);
  --main-accent3-color: rgb(137, 159, 177);
  --main-accent1-color: rgb(37, 37, 39);
  --main-accent4-color: rgb(238, 10, 223);
  --main-test-color: GREEN;
} */

/* :root.pickFaveColor {
  --main-background-color: rgb(16, 16, 17);
  --main-accent4-color: rgb(160, 158, 158);
  --main-accent1-color: rgb(255, 255, 255);
  --main-text-color: rgb(150, 6, 255);
  --main-accent3-color: rgb(68, 68, 68);
  --main-accent2-color: rgb(75, 0, 130);
  --main-test-color: GREEN;
} */

/* --main-background-color:  rgb(16, 16, 17);
  --main-accent2-color:rgb(150, 6, 255);
  --main-accent4-color: rgb(160, 158, 158);
  --main-text-color: rgb(255, 255, 255);
  --main-accent3-color: rgb(68, 68, 68);
  --main-accent1-color: rgb(75, 0, 130);
  --main-test-color: GREEN; */
/* 
  FAVORITE COLOR - WHITE BACKGROUND */
/* --main-background-color:  rgb(255, 255, 255);
  --main-text-color: rgb(165, 165, 165);
  --main-accent1-color:rgb(67, 67, 71);
  --main-accent2-color: rgb(3, 85, 112);
  --main-accent3-color: rgb(0, 0, 0) ;
  --main-accent4-color: teal;
  --main-test-color: GREEN; */

:root {
  --main-bg-img: url("images/logo.purple.png");
  --main-background-color: rgb(219, 217, 217);
  --main-text-color: rgb(165, 165, 165);
  --main-accent1-color: rgb(67, 67, 71);
  --main-accent2-color: rgb(3, 85, 112);
  --main-accent3-color: rgb(0, 0, 0);
  --main-accent4-color: teal;
  --main-test-color: GREEN;
}

header {
  height: 350px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: var(--main-background-color);
  background-image: var(--main-bg-img);
  background-repeat: no-repeat;
  background-size: 40%;
}

.contactInfo {
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 10%;
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Mulish", sans-serif;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
}

.content {
  /* padding: 10px; */
  margin-top: 10%;
}

.details {
  width: 50%;
}

.comingSoon {
  width: 100vw;
  /* padding: 5%; */
  display: flex;
  flex-wrap: wrap;
  background-color: white;
}

h1 {
  font-family: "Great Vibes", cursive;
  color: var(--main-accent4-color);
  font-size: 2em;
}

.choose {
  /* margin-bottom: 20px; */
  color: var(--main-background-color);
}

.thankYou {
  align-self: center;
  height: 10%;
  position: absolute;
}

.line1 {
  height: 15px;
  background-color: var(--main-accent2-color);
  border: none;
}

.line2 {
  height: 20px;
  background-color: var(--main-accent1-color);
  border: none;
  margin-top: -10px;
}

.line3 {
  height: 10px;
  background-color: var(--main-accent3-color);
  border: none;
  margin-top: -10px;
}

.thankYou:hover {
  animation: thanks 1s 1;
}

/* color picking buttons and themes: */

.theme-btn {
  width: 150px;
  height: 135px;
  padding: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  border: 10px solid white;
  background-color: transparent;
}
/* .theme-btn img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  } */

input {
  background-color: var(--main-accent3-color);
  color: white;
}

a {
  color: var(--main-accent4-color);
}

/* .contactInfo {
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10%;
} */

@keyframes thanks {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
    translate: 200px 100px;
  }
  100% {
    transform: scale(1);
  }
}

@media screen and (max-width: 880px) {
  header {
    height: 150px;
  }

  body {
    margin: 0;
    font-size: 1em;
  }

  .thankYou {
    /* font-size: 1em; */
    position: relative;
  }

  .thankYou:hover {
    animation: shake 1s 1;
  }

  .details {
    margin: 0;
    width: 80%;
    overflow: hidden;
  }

  .content {
    /* padding: 0; */
    overflow: hidden;
  }

  .choose {
    width: 50%;
  }

  li {
    font-size: 1em;
  }

  @keyframes shake {
    from {
      transform: rotateX(0deg);
    }
    to {
      transform: rotateX(1080deg);
    }
  }
}
