
body {
  background-color: lightgray;
  color: white;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
} 

:root {
  --main-blue-color: #3D58A7;
  --main-pink-color: #91268f;
  --main-teal-color: #15BCBE;
  --main-navy-color: #050557;
}


header {
  padding: 30px;
  height: 25%;
  /* width: cover; */
  background: white;
  /* overflow: hidden; */
  display: cover;
  overflow: hidden;
}

header .loriLogo{
  height: 70%;
  margin: 10px;
  padding: 10px;
}


header .strengths .list{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

header .strengths .info{
  color: var(--main-teal-color);
  font-size: 1.5em;
  margin-right: 1%;
  margin-left: 29%;
  text-align: right;
  width: 70%;
}

header .myInfo {
  font: var(--main-teal-color);
  text-align: left;
}

header .strengths .info .one{
  color: var(--main-teal-color);
  display: flex;
  text-align: right;
  margin-top: 3%;
  font-size: 2.5em;
}


header .strengths .list .dots{
  color: black;
}

header .strengths .list .one{
  color: #91268f;
}


/* header .strengths .list .one::hover{
  
} */

header .strengths .list .two{
  color: #BF61A6;
}

header .strengths .list .three{
  color: var(--main-blue-color);
}

header .strengths .list .four{
  color: #007F80;
}

header .strengths .list .five{
  color: var(--main-teal-color);
}

.border {
  margin-top: -50px;
  border: none;
  width: 100vw;
}

.border .line1 {
  background-color: var(--main-teal-color);
  height: 10px;
  border: none;
}

.border .line2 {
  background-color: var(--main-pink-color);
  height: 10px;
  margin-top: -10px;
  border: none;
}

.border .line3 {
  background-color: var(--main-blue-color);
  height: 15px;
  margin-top: -10px;
  margin-bottom: 5%;
  border: none;
}

.strengthDefined {
  display: flex;
  align-items: space-evenly;
}

.responsibility {
  color: #91268f;
  width: 100%;
}

.developer{
  color: #BF61A6;
  width: 100%;
}

.achiever{
  color: var(--main-blue-color);
  width: 100%;
}

.belief{
  color: #007F80;
  width: 100%;
}

.positivity{
  color: var(--main-teal-color);
  width: 100%;
}