


body {
  background-color: lightgray;
  color: white;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  width: 100vw;
} 

:root {
  --main-blue-color: #3D58A7;
  --main-pink-color: #91268f;
  --main-teal-color: #15BCBE;
  --main-navy-color: #050557;
}


header {
  padding: 30px;
  height: 25%;
  /* width: cover; */
  background: white;
  /* overflow: hidden; */
  display: flex-end;
  overflow: hidden;
}

header .loriLogo{
  height: 70%;
  margin-top: 10px;
  padding: 10px;
}


header .strengths .list{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  /* width: 100vh; */
}

header .strengths .info{
  color: var(--main-teal-color);
  font-size: 1.5em;
  margin-right: 3%;
  margin-top: -3%;
  text-align: right;
}

header .myInfo {
  font: var(--main-teal-color);
  text-align: left;
}

header .strengths .info .one{
  color: var(--main-teal-color);
  display: flex;
  text-align: right;
  margin-top: 3%;
  font-size: 2.5em;
}


header .strengths .list .dots{
  color: black;
}

header .strengths .list .one{
  color: #91268f;
}

header .strengths .list .two{
  color: #BF61A6;
}

header .strengths .list .three{
  color: var(--main-blue-color);
}

header .strengths .list .four{
  color: #007F80;
}

header .strengths .list .five{
  color: var(--main-teal-color);
}

.border {
  margin-top: -50px;
  border: none;
  width: 100vw;
}

.border .line1 {
  background-color: var(--main-teal-color);
  height: 10px;
  border: none;
}

.border .line2 {
  background-color: var(--main-pink-color);
  height: 10px;
  margin-top: -10px;
  border: none;
}

.border .line3 {
  background-color: var(--main-blue-color);
  height: 15px;
  margin-top: -10px;
  margin-bottom: 5%;
  border: none;
}

.decor {
  color: var(--main-teal-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-evenly;
}





.aboutMe {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.aboutMe .skillsInfo {
  margin-top: 5%;
}

/* .aboutMe .workInfo {
  margin-top: 5%;
} */



.aboutMe h1 {
  margin-top: 2%;
  font-family: 'Great Vibes', cursive;
  font-size: 3.5em;
  color: var(--main-pink-color);
  display: flex;
  justify-content: center;
  list-style: none;
  width: 100%;
}

.skillsInfo {
  color: var(--main-pink-color);
}


.skillsListed {
  margin-top: 20%;
    padding: 24%;
  /* overflow: hidden; */
}


.collapsible {
  background-color: lightgray;
  color: var(--main-pink-color);
  cursor: pointer;
  padding: 8px;
  width: 50%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1em;
}

.collapsibleButton {
  background-color: lightgray;
  color: var(--main-pink-color);
  cursor: pointer;
  padding: 8px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 1em;
}

.active, .collapsible:hover {
  background-color: var(--main-pink-color);
  color: white;
}

.active, .collapsibleButton:hover {
  background-color: var(--main-pink-color);
  color: white;
}

.content {
  color: var(--main-pink-color);
  font-size: 1em;
  display: flex;
  text-align: center;
  padding: 0 15px;
  max-height: 0;
  max-width: 100%;
  overflow: hidden;
  transition: max-height 3s ease-out;
}

.contentButton {
  color: var(--main-pink-color);
  display: flex;
  align-items: center;
  padding: 0 8px;
  max-height: 0;
  max-width: 100%;
  margin-top: 20px;
  overflow: hidden;
  transition: max-height 3s ease-out;
} 




.box4 {
  background:  var(--main-pink-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  z-index: -7;
  animation: rotation 10s infinite;
}

.box5 {
  background: var(--main-teal-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 30deg;
  margin-top: -12%;
  z-index: -6;
  animation: revRotation 10s infinite;
}

.box6 {
  background: var(--main-blue-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 60deg;
  margin-top: -10%;
  z-index: -8;
  animation: rotation 10s infinite;
}

.box7 {
  background: var(--main-teal-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  margin-top: -15%;
  rotate: 125deg;
  z-index: -7;
  animation: revRotation 10s infinite;
}

.box8 {
  background: var(--main-pink-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 90deg;
  margin-top: -10%;
  z-index: -6;
  animation: revRotation 10s infinite;
}

.box9 {
  background: var(--main-blue-color);
  /* padding: 10px; */
  width: 85px;
  height: 10px;
  border-radius: 50%;
  rotate: 155deg;
  margin-top: -10%;
  z-index: -8;
  animation: rotation 10s infinite;
}


.borderProjects {
  border: none;
}

.borderProjects .line4 {
  background-color: var(--main-teal-color);
  height: 30px;
  border: none;
}

.borderProjects .line5 {
  background-color: var(--main-pink-color);
  height: 30px;
  margin-top: -10px;
  border: none;
}

.borderProjects .line6 {
  background-color: var(--main-blue-color);
  height: 55px;
  margin-top: -10px;
  border: none;
}

.borderProjects .projects {
  font-family: 'Great Vibes', cursive;
  font-size: 7em;
  margin-top: -120px;
  text-align: center;
}


.myProjects {
  /* margin-top: -50px; */
  border: none;
  width: 100%;
  display: flex;
  direction: column;
  justify-content: space-around;
}

.myProjects .title{
  font-family: 'Great Vibes', serif;
  font-size: 3em;
  margin-bottom: -25px;
  color: var(--main-teal-color);
}

.myProjects .line7 {
  background-color: var(--main-teal-color);
  height: 10px;
  width: 100%;
  border: none;
}

.myProjects .line8 {
  background-color: var(--main-pink-color);
  height: 10px;
  width: 100%;
  margin-top: -10px;
  border: none;
}

.myProjects .line9 {
  background-color: var(--main-blue-color);
  height: 15px;
  width: 100%;
  margin-top: -10px;
  border: none;
}

.projectInfo {
  color: var(--main-navy-color);
  font-size: 1em;
}





.contactMe .triangles{
  display: flex;
  align-items: bottom;
}

.contactMe .triangle{
  width: 0;
  height: 0;
  margin-left: 46%; 
  margin-top: 10%;
  border-left: 900px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 400px solid var(--main-teal-color);
  z-index: -4;  
} 

.contactMe .triangle2{
  width: 0;
  height: 0;
  margin-left: -42%; 
  margin-top: 10%;
  /* margin-top: -15%; */
  border-left: 700px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 400px solid var(--main-blue-color);
  z-index: -2;  
} 

.contactMe .triangle3{
  width: 0;
  height: 0;
  margin-left: -48%; 
  margin-top: 10%;
  /* margin-top: -15%; */
  border-left: 800px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 400px solid var(--main-pink-color);
  z-index: -3;  
} 


.contactMe .title {
  margin-top: -15%;
  color: white;
  font-family: 'Great Vibes', cursive;
  font-size: 2em;
}

.contactMe .contactInfo {
  margin-right: 2%;
  margin-top: -10%;
  z-index: 0;
  font-size: 1.5em;
  color: white;
  text-align: right;
  list-style: none;
}



@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @keyframes revRotation {
    from {
      transform: rotate(360deg);
    }
    to {
      transform: rotate(0deg);
    }
  }

  

  /* media 

  .triangle: size is smaller
  .triangle2: display none
  .triangle3: display none */