


body {
  background-color: lightgray;
  color: white;
  font-family: 'Mulish', sans-serif;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
} 

:root {
  --main-blue-color: #3D58A7;
  --main-pink-color: #91268f;
  --main-teal-color: #15BCBE;
}


header {
  margin-top: 20px;
  margin-bottom: 50px;
  height: 25vh;
  width: cover;
  background: white;
  /* overflow: hidden; */
  display: flex;
}

header .loriLogo{
  height: 70%;
  margin-top: 10px;
  padding: 10px;
}


header .strengths .list{
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

header .strengths .info{
  color: var(--main-teal-color);
  font-size: 1.5em;
  margin-left: 10%;
  margin-top: -3%;
  justify-content: right;
}

header .myInfo {
  font: var(--main-teal-color);
}

header .strengths .info .one{
  color: var(--main-teal-color);
  display: flex;
  justify-content: right;
  margin-top: 3%;
  font-size: 2.5em;
}


header .strengths .list .dots{
  color: black;
}

header .strengths .list .one{
  color: #91268f;
}

header .strengths .list .two{
  color: #BF61A6;
}

header .strengths .list .three{
  color: var(--main-blue-color);
}

header .strengths .list .four{
  color: #007F80;
}

header .strengths .list .five{
  color: var(--main-teal-color);
}

.theGoal {
  width: 25%;
}

.border {
  margin-top: -50px;
  border: none;
}

.border .line1 {
  background-color: var(--main-teal-color);
  height: 10px;
  border: none;
}

.border .line2 {
  background-color: var(--main-pink-color);
  height: 10px;
  margin-top: -10px;
  border: none;
}

.border .line3 {
  background-color: var(--main-blue-color);
  height: 15px;
  margin-top: -10px;
  border: none;
}


.aboutMe {
  /* background-color: indigo; */
  display: flex;
  flex-direction: column;
  width: 100%;
}

.aboutMe .decor {
  font-size: 5em;
  color: var(--main-teal-color);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: space-around;
  z-index: 0;
}

.box {
  /* border-radius: 25px; */
  background: var(--main-teal-color);
  padding: 20px;
  width: 150px;
  height: 150px;
  z-index: -5;
}

.box2 {
  /* border-radius: 25px; */
  background: var(--main-pink-color);
  padding: 20px;
  width: 150px;
  height: 150px;
  rotate: 25deg;
  margin-top: -80%;
  z-index: -3;
}

.box3 {
  /* border-radius: 25px; */
  background: var(--main-blue-color);
  padding: 20px;
  width: 150px;
  height: 150px;
  rotate: 50deg;
  margin-top: -80%;
  z-index: -8;
}

.aboutMe .skillsInfo{
  margin-top: -10%;
  font-size: 1.5em;
  color: var(--main-pink-color);
  display: flex;
  justify-content: space-around;
  z-index: 25;
}

.aboutMe h1 {
  font-family: 'Great Vibes', cursive;
  color: white;
  font-size: 3em;

}

.borderProjects {
  /* margin-top: -50px; */
  border: none;
}

.borderProjects .line4 {
  background-color: var(--main-teal-color);
  height: 30px;
  border: none;
}

.borderProjects .line5 {
  background-color: var(--main-pink-color);
  height: 30px;
  margin-top: -10px;
  border: none;
}

.borderProjects .line6 {
  background-color: var(--main-blue-color);
  height: 55px;
  margin-top: -10px;
  border: none;
}

.borderProjects .projects {
  font-family: 'Great Vibes', cursive;
  font-size: 7em;
  margin-top: -150px;
  text-align: center;
}


.myProjects {
  /* margin-top: -50px; */
  border: none;
  width: 100%;
  display: flex;
  direction: column;
  justify-content: space-evenly;
}

.myProjects .title{
  font-family: 'Great Vibes', serif;
  font-family: 'Orbitron', sans-serif;
/* font-family: 'Orbitron', sans-serif; */
  font-size: 3em;
  margin-bottom: -25px;
  color: var(--main-teal-color);

}

.myProjects .line7 {
  background-color: var(--main-teal-color);
  height: 10px;
  width: 100%;
  border: none;
}

.myProjects .line8 {
  background-color: var(--main-pink-color);
  height: 10px;
  width: 100%;
  margin-top: -10px;
  border: none;
}

.myProjects .line9 {
  background-color: var(--main-blue-color);
  height: 15px;
  width: 100%;
  margin-top: -10px;
  border: none;
}

.myProjects .projects {
  font-family: cursive;
  font-size: 7em;
  margin-top: -150px;
  text-align: center;
}
/* 
.contactMe {
  z-index: 0;
} */

/* .contactMe .triangle{
    width: 0;
    height: 0;
    margin-top: -20%;
    margin-left: 10%;
    border-left: 1500px solid transparent;
    border-right: 0px solid transparent;
    border-bottom: 400px solid var(--main-teal-color);
    z-index: -3;
} */

.contactMe .triangle2{
  width: 0;
  height: 0;
  margin-left: 10%;
  /* margin-top: -15%; */
  border-left: 1500px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 400px solid var(--main-blue-color);
  z-index: -2;
}

/* .contactMe .triangle3{
  width: 0;
  height: 0;
  margin-left: 10%;
  margin-top: -20%;
  border-left: 1500px solid transparent;
  border-right: 0px solid transparent;
  border-bottom: 400px solid var(--main-blue-color);
  z-index: -4; 
} */

/* .contactMe .triangle3{
  width: 0;
  height: 0;
  margin-right: 5%;
  /* margin-top: 0%; */
  /* border-right: 1500px solid transparent;
  border-left: 0px solid transparent;
  border-bottom: 400px solid var(--main-pink-color);
  z-index: -1; 
}  */

.contactMe .contactInfo {
  z-index: 0;
  font-size: 1.5em;
  color: white;
  display: flex;
  justify-content: right;
  margin-top: -3%;
}